<header>
  <nav>
    <%= link_to "spaceNews", "#", class: "logo"%>
    <div class="navlinks">
      <%= link_to "new", "#"%>
      <%= link_to "comments", "#"%>

      <% unless logged_in? %>
        <%= link_to "signup", new_user_path %>
        <%= link_to "login", new_session_path %>
      <% end %>

      <%if logged_in?%>
        <%= link_to "new link", "#"%>
        <%= link_to "Logout", sessions_path, method: :delete%>
      <%end%>
    </div>
  </nav>
</header>
