<div class="link">
  <div class="title">
    <span class="link_main">
      <%= link_to link.title.capitalize, (link.url? ? link.url : link) %>
    </span>
    <% if link.url? %>
    <span class="link_url">
      (
      <%= link.url %>
      )
    </span>
    <% end %>
  </div>

  <div class="metadata">
    <span class="points">
      <%= pluralize(link.points, 'point') %>
      by
      <span class="username"><%= link.user.username %></span>
    </span>
    <span class="time-created">
      <%= time_ago_in_words(link.created_at) %>
      ago
    </span>
    <span class="comment-count">
      <%=link_to link_path(link) do%>
      <i class="fa fa-comments-o comment" aria-hidden="true"></i>(<%=link.comment_count%>)
      <%end%>
    </span>
    <% if logged_in? %>
    <span class="upvote-link">
      <%= link_to upvote_link_path(link), method: :post do %>
      <i class="fa fa-caret-up upvote" aria-hidden="true"></i>
      upvote(<%=link.upvotes%>)
      <%end%>
    </span>
    <span class="downvote-link">
      <%= link_to downvote_link_path(link), method: :post do%>
      <i class="fa fa-caret-down downvote" aria-hidden="true"></i>
      downvote(<%=link.downvotes%>)
      <%end%>
    </span>
    <% end %>
    <% if logged_in? && current_user.owns_link?(link)%>
    <span class="edit-link">
      <%= link_to edit_link_path(link) do%>
      <i class="fa fa-pencil edit" aria-hidden="true"></i>
      <%end%>
    </span>

    <span class="delete-link">
      <%= link_to link, method: :delete, data: {confirm: "you sure?"} do%>
      <i class="fa fa-trash edit" aria-hidden="true"></i>
      <%end%>
    </span>
    <%end%>
  </div>

</div>
